<mat-card class="signup-page">
    <mat-card-title>Sign up</mat-card-title>
    <mat-card-content>
        <form [formGroup]="signupForm" (ngSubmit)="signup()" class="signup-form">

            <mat-form-field>
                <input matInput type="username"
                       placeholder="Username"
                       [formControl]="signupForm.controls.username">
                <mat-error *ngIf="signupForm.get('username').hasError('required')">Username is <strong>required</strong></mat-error>
            </mat-form-field>

            <mat-form-field hintLabel="Min 6 characters">
                <input matInput type="password"
                       placeholder="Password"
                       [formControl]="signupForm.controls.password">
                <mat-error *ngIf="signupForm.get('password').hasError('minLength')">Password must be > <strong>5</strong> characters</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Dietary Preferences:</mat-label>
                <mat-select [formControl]="signupForm.controls.dietprefs" multiple>
                    <mat-option *ngFor="let pref of dietPreferences" [value]="pref">{{pref}}</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button color="primary"
                    type="submit"
                    [disabled]="!signupForm.valid">Signup now</button>

        </form>
    </mat-card-content>
</mat-card>
